<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * Copyright (C) 2022 Mob Army S.R.L. - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited.
 * Proprietary and confidential.
 * Written by Mob Army <info@wwtelecommunications.com>, 2022 for TELEFONICA
 * CELULAR DE BOLIVIA S.A. (Telecel S.A.) use only.
 -->
<mapper namespace="bo.tigo.mob.k8s.getdevices.dao.ds1.MQueryDS1Mapper">
	<!-- Result Maps -->
	<resultMap id="SimpleQuery1Map"
		type="bo.tigo.mob.k8s.getdevices.dto.core.DevicesList">
		<id column="rene1" 		property="id" 				javaType="string" />
		<result column="rene2"  property="sku" 				javaType="string" />
		<result column="rene3"  property="identifier" 		javaType="string" />
		<result column="rene4"  property="serialNumber" 	javaType="string" />
		<result column="rene5"  property="lifecycleStatus"  javaType="string" />
		<result column="rene6"  property="primaryId" 		javaType="string" />
		<result column="rene7"  property="category" 		javaType="string" />
		<result column="rene8"  property="stock.stockId" 	javaType="string" />
		<result column="rene9"  property="stock.name" 		javaType="string" />
		<result column="rene10" property="stock.stockType" 	javaType="string" />
	</resultMap>

	<!-- Queries -->
	<select id="getQuery1Records" resultMap="SimpleQuery1Map">
        <![CDATA[
            SELECT
            	colum_id AS "rene1",
            	colum_sku AS "rene2",
            	colum_ident AS "rene3",
            	colum_serial AS "rene4",
            	colum_life AS "rene5",
            	colum_prim AS "rene6",
            	colum_cate AS "rene7",
            	colum_stock_id AS "rene8",
            	colum_stock_name AS "rene9",
            	colum_stock_type AS "rene10"   
			FROM 
				table_test_rene	 
			]]>
		<where>
		<!--	AND B.GI2jqA = C.GI2mtA 
			AND B.OM27A = C.OM27A 
			AND B.WA10A = C.WA10A
			AND B.REMTA = C.REMTA 
			AND B.REMTA = D.REMTA -->
			<if test="recordSku != null ">
				AND colum_sku = #{recordSku}
			</if>
            <if test="recordStockId != null">
				AND colum_stock_id = #{recordStockId}
			</if>
            <if test="recordIdentifier != null ">
				AND colum_ident = #{recordIdentifier}
			</if>
		</where>

	</select>

</mapper>
